/*This is the body tag*/
.body{
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*This is the First H1 tag in the Body tag*/
.first-heading{
  color: white;
  text-align: center;
  font-size: 3.5em;
  font-weight: 900;
}

.calculator{
  background: blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
input, button{
  padding: 10px;
  margin: 5px;
  font-size: 1em;
}
.result{
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}